.heart {
  top: 100px;
  right: 64px;
  background-color: var(--darkGrey);
  position: absolute;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
}
.heart > img {
  width: 36px;
}
.heart > p {
  margin: 15px 0;
  color: var(--lightgray);
}
.heart > span {
  color: white;
  font-size: 24px;
}

.hero__image {
  bottom: 0;
  right: 230px;
  position: absolute;
  height: 600px;
  z-index: 3;
}
.hero__image--background {
  z-index: 0;

  position: absolute;

  top: 70px;

  width: 240px;
}

.calories {
  position: absolute;
  bottom: 80px;
  right: 550px;
  z-index: 3;

  padding: 16px;
  display: flex;

  width: 165px;
  background-color: var(--caloryCard);
  border-radius: 5px;
}
.calories > img {
  width: 48px;
}
.calories__text {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories__text > p {
  color: var(--lightgray);
}
.calories__text > span {
  color: white;
  font-size: 24px;
  line-height: 100%;
}
