.navigation__list {
  display: flex;
  color: inherit;
}
.navigation__item:not(:last-child) {
  margin-right: 45px;
}
.navigation__link {
  color: white;
  padding: 15px 0;
  cursor: pointer;
}
.navigation__link:hover,
:focus {
  color: var(--orange);
}
